.search-engine-tab {
  .search-engine-tab__input {
    margin-top: 0.75rem;
    border-radius: 3px;
  }

  display: flex;
  flex-direction: column;

  padding-left: 0.25rem;

  #\:r9\: {
    background-color: rgb(41, 41, 41) !important;
  }

  .search-engine-tab__result-list {
    flex: 1;
    padding-left: 1rem;

    overflow-y: scroll;
    margin-block: 0.5rem;

    .btn-cleanup-one {
      color: var(--bg-color-leftbar);

      transition: all 0.1s ease;

      &:hover {
        color: var(--bg-color-usefule-element-hover-lighter);
      }
    }

    & .search-engine-tab__result-list-item {
      &:hover {
        background-color: var(--bg-color-usefule-element-hover);
      }
    }
  }

  & input {
    color: var(--color-view__text);
  }
}

.searched-highlight {
  --bg-searched-highlight: rgb(112, 64, 43);
  color: var(--color-view__text);
  font-weight: lighter;
  background-color: var(--bg-searched-highlight);
}
