.CreateView {
  /* height: calc(100vh - 30px - 2px); */
  display: flex;
  justify-content: center;

  .form {
    display: flex;
    align-items: left;
    /**下面这个删了表单就会贴顶*/
    justify-content: center;
    flex-direction: column;
    /* border: 1px white solid; */
    min-width: 400px;
  }

  .row {
    margin: 0px 0px 10px 0px;
    display: flex;
    /* border: 1px white solid;   */
    justify-content: space-between;
    flex-direction: row;
    
    /* > * {
      margin-right: 12px;
    } */
  }

  *::selection {
    background: rgb(166, 166, 166) !important;
  }

  .desc {
    min-width: 400px;
  }
  
}
