.main-box {
  /* height: calc(100vh - 30px - 2px); */
  /* background-color: #171717; */
  background-color: #232323ec;
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;

  color: rgb(91, 91, 91);

  display: flex;

  align-items: flex-start;
  flex-direction: column;

  /* *:nth-child(n+2) */
  > *:nth-child(n) {
    &:hover {
      color: white !important;
      cursor: pointer;
    }
  }

  > * {
    margin-left: 4rem;
    margin-top: 1rem;
    transition: all 0.3s ease-out;

    > * {
      padding-right: 1rem;
    }
  }
  > *:first-child {
    margin-top: 3rem;
  }

  .hotkey-item {
    &:hover {
      > *:nth-child(3) {  
        > *:nth-child(odd) {
          background-color: #5e5e5e;
        }
      }
    }
    > *:nth-child(3) {
      > * {
        margin-right: 0.5rem;
      }

      > *:nth-child(odd) {
        padding: 3px 6px 3px 6px;
        border-radius: 3px;
        background-color: #313131;
      }
    }
  }
}
