.main-box {
  /* height: calc(100vh - 30px - 2px); */
  /* background-color: #171717; */
  background-color: #232323ec;
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;

  color: rgb(91, 91, 91);

  display: flex;

  align-items: flex-start;
  flex-direction: column;

  > * {
    margin-left: 4rem;
    margin-top: 1rem;
    transition: all 0.3s ease-out;

    &:hover {
      color: white !important;
      cursor: pointer;
    }

    > * {
      padding-right: 1rem;
    }
  }
  > *:first-child {
    margin-top: 3rem;
  }
}
