.create-cluster-tab {
  .line {
    /* transition: all 10.5s ease; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    > * {
      padding-right: 1rem;
    }

    &:hover {
      background-color: var(--color-textButtn-hover);
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    &:active {
      /* background-color: rgb(70, 70, 70); */
      transition: background-color 0.1s ease-out;
    }
  }

  > button {
    font-size: 14px;
    text-align: left;
    text-transform: none;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .create-cluster-tab-item__icon,
  .create-cluster-tab-item__text {
    color: var(--color-content-leftbar);
  }
}
