.terminal-tab {
  .line {
    /* transition: all 10.5s ease; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > * {
      padding-right: 1rem;
    }

    &:hover {
      background-color: var(--color-textButtn-hover);
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    &:active {
      /* background-color: rgb(70, 70, 70); */
      transition: background-color 0.1s ease-out;
    }
  }
}
