
.terminal-tab {

  .line {
    /* transition: all 10.5s ease; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    > * {
      padding-right: 1rem;
    }


    &:hover {
      cursor: pointer;
      transition: background-color 0.3S ease;
      background-color: rgb(40, 35, 35);
    }

    &:active {
      transition: background-color 0.1S ease-out;
      background-color: rgb(70, 70, 70);
    }
  }
}