.setbox {
  width: 240px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all 0.3s ease;

  > * {
    padding-left: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      background-color: #ababab;
    }
  }
}

.setting-popover-list {
  
  width: max-content;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all 0.3s ease;

  > * {
    transition: all 0.3s ease;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      cursor: pointer;
      background-color: #ababab;
    }
  }
}