.CreateView {
  /* height: calc(100vh - 30px - 2px); */
  display: flex;
  justify-content: center;

  .form {
    display: flex;
    /**下面这个删了表单就会贴顶*/
    /* justify-content: center; */
    flex-direction: column;
    align-items: left;
    /* border: 1px white solid; */
    min-width: 400px;
    height: fit-content;
    padding-top: 24px;
    padding-bottom: 20px;
  }

  .plain-row {
    display: flex;
    flex-direction: row;
    /* border: 1px white solid;   */
    justify-content: space-between;

    > *:nth-child(n + 2) {
      margin-left: 6px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    /* border: 1px white solid;   */
    justify-content: space-between;
    margin: 0px 0px 10px 0px;

    /* > * {
      margin-right: 12px;
    } */
  }

  .row#cluster-bottom {
    margin-bottom: 16px;
  }

  .row#sub-app-top {
    margin-top: 0px;
  }

  .row#sub-app-bottom {
    margin-bottom: 8px;
  }

  .path,
  .api-live,
  .api-start,
  .api-stop,
  .api-restart {
    width: 100%;
  }

  .htitle {
    &::selection {
      background: none;
    }
    padding-bottom: 0px;
  }

  *::selection {
    background: rgb(166, 166, 166);
  }

  .desc {
    min-width: 400px;
    min-height: 50px;
  }

  .subpp-port {
    width: 100px;
  }

  & .api-input {
    background-color: transparent;

    & > .MuiInputBase-root {
      color: var(--color-view__text);
      border: 1px solid var(--color-content-base);

      &.Mui-focused {
        border: 1px solid rgba(30, 143, 255, 0);
      }
    }

    & .MuiSelect-icon {
      color: var(--color-content-base);
    }

    & label:not(.Mui-focused) {
      color: var(--color-content-base);
      background-color: var(--bg-color-view-container);
      padding-bottom: 12px;
      padding-left: 4px;
      margin-left: -4px;
      padding-right: 12px;
    }

    & .MuiSelect-select {
      color: var(--color-view__text);
    }
  }
}

/** hidden input number counter*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
