.theme-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4rem;
  padding-bottom: 2rem;

  height: 100vh;
  box-sizing: border-box;

  overflow-y: scroll;

  color: var(--color-view__text);

  & input {
    color: var(--color-view__text);
    text-indent: 1rem;
  }

  .textField {
    color: var(--color-view__text);

    & label {
      color: var(--theme-view-unfocus_or_unselected_color);
      text-indent: 1rem;
      transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

      &.Mui-focused {
        color: var(--color-element-active_or_focus-highlight);
        text-indent: 0rem;
      }
    }
  }

  .MuiRadio-root {
    color: var(--theme-view-unfocus_or_unselected_color);

    &.Mui-checked {
      color: var(--color-element-active_or_focus-highlight);
    }
  }

  .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl {
    &::before {
      border-bottom: none;
    }
  }
}

.theme-form__footer {
  margin-top: 12px;
  text-align: right;

  > button {
    margin-inline: 4px;
  }
}

.theme-form {
  width: 60%;

  @media screen and (max-width: 940px) {
    width: calc(940px * 0.42);
  }
}

.theme-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.theme-custom-form-open {
  opacity: 1;
  animation: theme-custom-form-open-animation 0.2s
    cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes theme-custom-form-open-animation {
  0% {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
}

.theme-custom-form-close {
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  animation: theme-custom-form-close-animation 0.2s
    cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

@keyframes theme-custom-form-close-animation {
  0% {
    display: run-in;
  }
  100% {
    display: none;
  }
}
